<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <!--密码初始化配置-->
    <section name="InitPasswordConfigSection" type="Miic.Base.ConfigSection.InitPasswordConfigSection,MiicLibrary"/>
    <!--匿名配置-->
    <section name="AnonymousUserConfigSection" type="Miic.Base.ConfigSection.AnonymousUserConfigSection,MiicLibrary"/>
    <section name="CommunityHotRateConfigSection" type="Miic.Friends.Community.CommunityHotRateConfigSection,MiicFriends"/>
    <section name="ScoreConfigSection" type="Miic.Friends.Common.ConfigSection.ScoreConfigSection,MiicFriends"/>
  </configSections>
  <appSettings>
    <add key="LOGIC_LOG_TYPE" value="01" />
    <add key="DB_LOG_TYPE" value="T" />
    <add key="APP_NAME" value="朋友圈系统" />
    <add key="IS_COR" value="T"/>
    <!--<add key="MIIC_DB_TYPE" value="01" />-->
    <add key="Domain" value="demon.cn" />
    <add key="BaseUrl" value="http://pyq.demon.cn" />
    <add key="ManageUrl" value="http://sns.demon.cn" />
    <add key="CacheTime" value="43200000" />
    <add key="FileVolumn" value="100000000" />
    <add key="UserPhotoFileVolumn" value="100000000" />
    <add key="OrgProductFileVolumn" value="100000000" />
    <add key="DefaultPhotoUrl" value="/file/User/setting.png" />
    <add key="DefaultMicroThemeID" value="575CDF5E-0F38-4BFE-9731-4676CA4CA0CC" />
    <add key="DefaultThemeUrl" value="http://sns.demon.cn/file/Theme/cover6.jpg" />
    <add key="ChatLogoPath" value="/file/Chat/"/>
    <add key="ServiceID" value="1"/>
    <!--可修改-->
    <!--<add key="DefaultFriendsThemeID" value="7E9E7B47-F184-465F-83F5-85FB69F8C330" />
    <add key="DefaultMicroThemeID" value="575CDF5E-0F38-4BFE-9731-4676CA4CA0CC" />-->
    <add key="CreateCommunityLevel" value="Level3" />
    <add key="DefaultCommunityLogoUrl" value="../images/user-default.png" />
    <!--可修改-->
    <!--<add key="GroupLogoPath" value="/file/Group/LogoImage/" />
    <add key="CommunityLogoPath" value="/file/Community/LogoImage/" />-->
  </appSettings>
  <connectionStrings>
    <!--<add name="CONNECT" connectionString="Data Source=10.3.0.228;Initial Catalog=MIIC_FRIENDS;Persist Security Info=True;User ID=sa;Password=sa11;Pooling=true;Max Pool Size=100;Min Pool Size=0;" />-->
    <add name="CONNECT" connectionString="Data Source=10.1.100.22;Initial Catalog=MIIC_FRIENDS;Persist Security Info=True;User ID=sa;Password=sa11;Pooling=true;Max Pool Size=100;Min Pool Size=0;"/>
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="400000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="xxx" port="25" userName="xxx" password="xxx" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <httpRuntime targetFramework="4.5" maxRequestLength="10485760" executionTimeout="100000" />
    <httpModules>
      <remove name="RoleManager" />
      <remove name="PassportAuthentication" />
      <remove name="Profile" />
      <remove name="ServiceModel" />
    </httpModules>
    <!--<customErrors mode="Off"/>-->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <webServices>
      <conformanceWarnings>
        <remove name="BasicProfile1_1" />
      </conformanceWarnings>
      <protocols>
        <add name="AnyHttpSoap" />
        <add name="HttpPostLocalhost" />
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="CorsModule" type="Miic.Cors.CorsModule,MiicLibrary" />
    </modules>
    <staticContent>
      <remove fileExtension=".less" />
      <mimeMap fileExtension=".less" mimeType="text/css" />
    </staticContent>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.html" />
        <add value="index.htm" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>